.sign__in_row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.sign__in_text {
  display: inline-block;
  margin-right: 12px;
  color: #F1F2F1
}

.sign__in_link {
  text-decoration: none;
  color: #7FAAF0;
}