.logoContainer {
  margin: 48px 50px;

  .logoHeader {
    margin: 0;
    font-size: 36px;
    color: white;
    font-weight: 700;
    line-height: 54px;
  }

  .logoLabel {
    margin: 0;
    line-height: 25px;
    font-weight: 600;
    font-size: 16px;
    color: #539713;
  }
}
