.logo {
  &__main {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin: 0;
  }

  &__secondary {
    color: #539713;
    font-weight: 600;
    font-size: 16px;
    line-height: 24.8px;
    margin: 0 0 0 1px;
  }
}