.auth {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    width: 424px;
    height: 900px;
    background: #1d283a;
}

.container {
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%);
    width: 328px;
    height: 710px;
    margin: 0 auto;
}

.logo {
    width: 134px;
    height: 79px;
    display: flex;
    flex-direction: column;
    &__big {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
        color: #ffffff;
    }
    &__small {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 155%;
        color: #539713;
    }
}
