.registration {
  &__action {
    color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 56px;
    line-height: 150%;
    margin: 0 0 48px 48px;
  }

  &__card-form {
    margin: 0 48px;
  }

  &__footer {
    font-weight: 400;
    font-size: 12px;
    line-height: 155%;
    color: #F1F2F1;
    display: flex;
    margin: 0;
    justify-content: center;
  }

  &__change {
    color: #7FAAF0;
    cursor: pointer;
  }
}

.input {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #FFFFFF; 
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 32px;
  }

  &__label {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
  }

  &__area {
    display: flex;
    justify-content: space-between;
  }

  &__field {
    border: 0;
    padding: 0 0 6.6px 0;
    color: #FFFFFF;
    background-color: transparent;
    
    font-weight: 400;
    opacity: 0.7;
    font-size: 16px;
    line-height: 155%;
    
    &:focus, &:valid {
      outline: 0;
    }
  }
  
  &__eye {
    width: 22px;
    height: 22px;
    cursor: pointer;

    &--closed {
      background-image: url('../../Vector1.svg'), url('../../Vector.svg');
      background-position: center, center;
      background-repeat: no-repeat, no-repeat;
    }

    &--open {
      background-image: url('../../Vector.svg');
      background-position: center;
      background-repeat: no-repeat, no-repeat;
    }
  }
}

.action-button {
  width: 100%;
  height: 44px;
	padding: 0;
	color: #FFF;
	font-weight: 600;
  font-size: 16px;
  line-height: 155%;
	background-color: #539713;
	border: 0;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  margin-bottom: 24px;

	&:focus {
		outline: 0;
	}
}
