.logo {
  padding-top: 48px;
  margin-bottom: 10px;
  font-size: 36px;
  color: #fff;
}

.subLogo {
  color: #539713;
  font-size: 16px;
  margin-bottom: 80px;
}

.title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 50px;
  text-transform: uppercase;
}