
.signIn {
    color: white;

    .form {
        display: flex;
        flex-direction: column;
    }
    .h1__signIn{
        font-weight: 700;
        font-size: 56px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}