@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Playfair+Display:wght@700&display=swap');

.container {
  width: 424px;
  height: 100vh;
  background-color: #1D283A;
  margin: 0 auto;
  padding: 0 48px;
}