@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400;700&display=swap');
@import "variables";
@import "reset";

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  color: $main-color;
  line-height: 24.8px;
}

.layout {
  background-color: $bg-color;
  height: 100vh;
  width: 100vw;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}


// GLOBALL
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.button {
  background-color: $green-color;
  border: none;
  cursor: pointer;
}
input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid $main-color;
  opacity: 0.7;
  padding: 5px 55px 0px 0px;
}

//! HEADER
.header {
  padding: 20px 0 20px;

  &__title {
    line-height: 54px;
    font-size: 36px;
  }

  & > span {
    color: $green-color;
    font-weight: 600;
  }
}

//!GREETINGS
.greetings {
  text-align: center;
  padding: 78px 0;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    background-image: url("../assets/decoration.png");
    top: -20px;
    right: 300px;
    width: 237px;
    height: 188px;
  }
  &__title {
    line-height: 72px;
    padding: 24px 0;
    font-size: 48px;
    text-transform: uppercase;

  }
  & > p {
    max-width: 466px;
    font-weight: 600;
    margin: 0 auto;
    padding-bottom: 57px;
  }

  & > button {
    padding: 10px 16px;
    margin-bottom: 72px;
  }

  > img {
    display: block;
    margin: 0 auto;
  }
}

// SIGN-IN
.sign {
  text-align: center;

  > h2 {
    font-size: 56px;
    line-height: 84px;
    margin-bottom: 48px;
  }

  &__form {
    max-width: 600px;
    margin: 0 auto;

    &-button {
      margin-top: 20px;
      width: 100%;
      padding: 6px 0;
    }
  }

  &__no-account {
    margin-top: 24px;

    & > a {
      color: $light-blue;
      cursor: pointer;
    }
  }
}

.input-box {
  margin-top: 20px;
  display: flex;
  align-items: start;
  flex-direction: column;

  &--password {
    position: relative;

    & > img {
      position: absolute;
      right: 10px;
      bottom: 4px;
      width: 25px;
    }
  }

  > span {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
  }

  > input {
    width: 100%;
  }

}
.error {
  padding-top: 5px;
  color: $error-color;
}