.home {
  background-color: #1D283A;
  width: 100%;
  height: 100vh;

  &__logo {
    margin: 48px 0 109px 60px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__congrats {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 0 0 48px 0;
    // height: 190px;
    width: 508px;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -118px;
      width: 237px;
      height: 188px;
      background-image: url('../../Decor.svg');
      background-position: center;
    }
  }

  &__secondary {
    width: 466px;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 48px 0;
  }

  &__bttn {
    width: 98px;
    height: 44px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    color: #FFFFFF;
    background-color: #539713;
    border: 0;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    margin-bottom: 72px;
  }

  &__img {
    background-image: url(../../Vector_footer.svg);
    width: 340px;
    height: 290px;
  }
}