.header {
  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
  }

  &__subtitile {
    color: #539713;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
  }
}