.header {
  padding-bottom: 72px;
}

.header_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
}

.header_text {
  font-weight: 600;
  line-height: 1.6;
  color: var(--greener-color);
}
