.header {
    padding: 47px 0px 72px 0px;
    h3 {
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
    }
    h5 {
        font-weight: 600;
        font-size: 16px;
        line-height: 155%;
        color: #539713;
    }
}
