.MuiFormControl-root.input-wrapper {
  width: 100%;
  margin-bottom: 28px;
}

.password-input {
  padding: 4px 0;
  font-family: 'Montserrat', sans-serif;
}

.MuiFormHelperText-root.error-text {
  color: red;
}
