.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before {
    content: "";
    grid-area: 1/1;
    border: 9px solid;
    border-radius: 50%;
    border-color: #474bff #474bff #0000 #0000;
    mix-blend-mode: darken;
    animation: spin 1s infinite linear;
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
