@font-face {
   font-family: "Montserrat-Bold";
   src: url("../resources/fonts/Montserrat-Bold.ttf");
}

@font-face {
   font-family: "Montserrat-Regular";
   src: url("../resources/fonts/Montserrat-Regular.ttf");
}

@font-face {
   font-family: "Montserrat-SemiBold";
   src: url("../resources/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
   font-family: "Pass";
   src: url("../resources/fonts/fontello.ttf");
}
