@mixin reset-model {
   padding: 0;
   margin: 0;
}

@mixin reset-input {
   all: unset;
}

@mixin reset-list {
   list-style: none;
   @include reset-model();
}

@mixin reset-link {
   text-decoration: none;
   border: 0;
   color: inherit;
   font-family: inherit;
}

@mixin reset-button {
   text-decoration: none;
   display: inline-block;
   background-color: transparent;
   border: none;
   padding: 0;
   cursor: pointer;
}