$primaryColor: #1d283a;
$linkColor: #7faaf0;

.authDiv {
  background-color: $primaryColor;
  height: 100vh;
  width: 35vw;
}
.buttonToSignIn,
.buttonToSignUp {
  background-color: transparent;
  color: $linkColor;
  border: none;
}
