@import '../../../styles/colors.scss';

.btn{
    width: 100%;
    padding: 9.5px;
    text-align: center;
    background-color: $green;
    box-shadow: 0px 3px 1px -2px 
    rgba(0, 0, 0, 0.2), 
    0px 2px 2px rgba(0, 0, 0, 0.14), 
    0px 1px 5px rgba(0, 0, 0, 0.12);
    transition: background-color .2s ease;
    cursor: pointer;
    font-size: 16px;
    line-height: 155%;
    color: $white;
    font-weight: 600;

    &:hover{
        background-color: rgba($green, 0.85);
    }

    &:active{
        background-color: rgba($green, 0.75);
    }

    &:disabled{
        background-color: rgba($green, 0.5);
        cursor: not-allowed;
    }
}