.register {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    top: 72px;
    width: 328px;
    height: 350px;
    background: #1d283a;
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 150%;
        letter-spacing: 0.03em;
        color: #ffffff;
    }
    &__redirect {
        margin-left: 48px;
        margin-top: 24px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 155%;
        color: #f1f2f1;
        text-decoration: none;
        &_link {
            color: #7faaf0;
            // text-decoration: none;
            text-decoration-line: none;
        }
    }
}

.form {
    width: 328px;
    height: 380px;
    margin-top: 48px;
    &__input {
        width: 100%;
        height: 60px;
        &:not(:first-child) {
            margin-top: 24px;
        }
        &_label {
            height: 22px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 155%;
            color: #ffffff;
            opacity: 0;
        }
        &_field {
            width: 100%;
            height: 38px;
            background: #1d283a;
            border: none;
            border-bottom: 1px solid #fff;
            padding: 0;

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 155%;
            color: #ffffff;
            &::placeholder {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 155%;
                color: #ffffff;
                opacity: 0.7;
            }
            &:focus {
                outline: none;
            }
        }
    }
    &__btn {
        width: 330px;
        height: 44px;
        margin-top: 32px;
        border: none;
        cursor: pointer;
        background: #539713;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14),
            0px 1px 5px rgba(0, 0, 0, 0.12);
        &:disabled {
            cursor: default;
        }
        &_text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 155%;
            color: #ffffff;
        }
    }
}

.password {
    display: flex;
    align-items: flex-end;
    &__decor {
        position: relative;
        width: 24px;
        height: 30px;
        border-bottom: 1px solid #fff;
        cursor: pointer;
        &_eye {
            position: absolute;
            top: 4px;
            width: 24px;
            height: 22px;
            background-image: url('../../assets/Eye.svg');
            background-repeat: no-repeat;
        }
        &_line {
            position: absolute;
            top: 0;
            width: 22px;
            height: 22px;
            background-image: url('../../assets/Line.svg');
            display: none;
        }
    }
}

.error {
    color: red;
    font-size: 10px;
}
