$primaryColor: #1D283A;
$secondaryColor: #539713;

body {
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
    justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  // background-color: #282c34;
  // min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // font-size: calc(10px + 2vmin);
  // color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $primaryColor;
  .logo {
    color: white;
    height: 10vh;

  }
  .department{
    color: $secondaryColor;

  }

}
.main {
  background-color: $primaryColor;
}

