.ButtonWrapper {
  width: 100%;
  padding: 9.5px 0;

  margin-top: 32px;

  color: var(--logo-title);
  font-size: 16px;

  font-weight: 600;
  line-height: 155%;

  background: var(--logo-color);
  border: none;

  cursor: pointer;
}
