.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.congratulationsWrapper {
  position: relative;
  margin-top: 109px;
  margin-bottom: 48px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
}

.decorImg {
  position: absolute;
  bottom: 0;
  right: -118px;
  width: 237px;
  height: 188px;
}

.description {
  margin-bottom: 48px;
  max-width: 466px;
  font-weight: 600;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: white;
}

.peopleImg {
  margin-top: 72px;
}
