@use 'sass:color';
@use '../../../styles/colors' as *;

.button {
	text-transform: none;
	border-radius: 0%;
	font-family: inherit;

	&--contained {
		background-color: $avocado;
		padding: 6px 16px;
		font-weight: 600;

		&:hover {
			background-color: color.adjust($avocado, $lightness: 5%);
		}
	}

	&--text {
		font-size: 14px;
		font-weight: 400;
		vertical-align: baseline;

		&:hover {
			background-color: transparent;
		}
	}
}
