.auth {
  display: flex;
  flex-direction: column;
  width: 344px;
  background: #1D283A;
  padding: 48px 40px 0;
  min-height: 852px;

  .title {
    font-weight: 700;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFF;
    margin: 72px 0 24px;
  }

  .error {
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    color: red;
    height: 47px;
  }

  .inputSubmit {
    background: #539713;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    color: #FFF;
    width: 100%;
    margin-bottom: 24px;
    border: none;
    padding: 9.5px 0;
    cursor: pointer;
  }

  .switch {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 155%;
    color: #F1F2F1;

    span {
      color: #7FAAF0;
      margin-left: 0.2em;
      cursor: pointer;
    }
  }
}