@import '../../variables/variables.scss';

.Form {
    margin: 0 auto;
    padding: 0 48px 48px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    width: 424px;
    box-sizing: border-box;

    &__title {
        position: relative;
        font-weight: 700;
        font-size: 56px;
        margin: 0 0 48px;
    }

    &__label {
        margin-bottom: 24px;
        line-height: 21.7px;
        border-bottom: 1px solid $fontColor;
    }

    &__input {
        width: 90%;
        font-size: 16px;
        background-color: $backgroundColor;
        border: 0px;
        line-height: 24.8px;
        padding: 5.5px 0 10px;
        color: $fontColor;
        transition: transform 0.3s;

        &:-webkit-autofill,
        &:-webkit-autofill:focus {
            transition: background-color 600000s 0s, color 600000s 0s;
        }

        &:focus {
            outline: 0;
        }

        &:hover {
            transform: scale(0.97);
        }

        &:focus::placeholder {
            transition: opacity 0.3s;
            opacity: 0;
        }

        &::placeholder {
            color: $fontColor;
            opacity: 0.7;
        }
    }

    &__toggler {
        margin-left: 10px;
        width: 22px;
        height: 22px;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__submit {
        height: 44px;
        margin-bottom: 24px;
        font-size: 16px;
        font-weight: 600;
        background-color: $buttonColor;
        color: $fontColor;
        border: 0;
        box-shadow: $boxShadow;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: $linkColor;
        }
    }

    &__error {
        margin: 0 0 24px;
        font-size: 14px;
        color: $errorColor;
        text-align: center;
    }

    &__footer {
        font-size: 12px;
        font-weight: 400;
        color: $footerTextColor;
        align-self: center;
        margin-bottom: 0;
    }

    &__link {
        color: $linkColor;
        cursor: pointer;
    }
}