.container {
    width: 100vw;
    height: 100vh;
    background: #1d283a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    color: #fff;

    @media (max-width: 680px) {
        font-size: 50px;
    }

    @media (max-width: 550px) {
        font-size: 40px;
    }
}

.btn {
    width: 330px;
    height: 44px;
    margin-top: 32px;
    border: none;
    cursor: pointer;
    background: #539713;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    &__text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 155%;
        color: #ffffff;
    }
}
